.entity {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    color: black;
  }
  
  .entity p{
      padding-top: 20px;
      cursor: pointer;
  }